@page
@model Restaurant.Pages.Clientes.CreateModel
@{
    ViewData["Title"] = "Registrar Cliente";
}

<h2>Registrar Cliente</h2>

<form method="post">
    <div class="mb-2">
        <label>Nombre</label>
        <input asp-for="Cliente.Nombre" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Apellido</label>
        <input asp-for="Cliente.Apellido" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Teléfono</label>
        <input asp-for="Cliente.Telefono" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Correo</label>
        <input asp-for="Cliente.Correo" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    <a asp-page="./Index" class="btn btn-secondary mt-2">Volver</a>
</form>